<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

</head>
<body>
ASDASDASD
<div>
  <!--<form method="post" action="/auth/local">-->
  <form><!-- action="#" onsubmit="sendLogIn()">-->
  <div>
  <label for="newPassword">New password: </label>
  <input type="password" name="newPassword" id="newPassword">
  </div>
  <div>
    <label for="confirmNewPassword">Confirm new password: </label>
    <input type="password" name="confirmNewPassword" id="confirmNewPassword">
  </div>
  <!--<input type="submit" value="Send">-->
  <input type="button" onclick="sendNewPassword()" value="Log in">

  </form>


</div>
</body>
<script>

function sendNewPassword(){
  $.urlParam = function(name){
      var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
      return results[1] || 0;
  }
$.ajax({
  type: 'POST',
  url: 'http://localhost:1337/auth/reset-password',
  data: {
    code: $.urlParam('code'),
    password: $('#newPassword').val(),
    passwordConfirmation: $('confirmNewPassword').val()
  },
  success: function() {
    console.log('Your user password is reset');
  },
  error: function(error) {

    console.log($.urlParam('code'));
    console.log('An error occurred:', error);
  }
});
}
</script>
</html>
